* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fcfaf5;
}

p {
    line-height: 2;
}

/* Logo */
.logo {
    z-index: 20;
    position: fixed;
    margin: 4px;
}

.logo img{
    height: 66px;
    transition: .4s;
}

/* Navigation Menu */
nav{
    z-index: 10;
    padding: 24px 16px;
    font-family: 'Bungee Shade', cursive;
    position: fixed;
    width: 100%;
    transition: .6s;
    border-top: solid 3px #990000;
}

nav.scrolled {
    background: #fcfaf5;
    color: #1e0000;
    box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, .1);
    text-shadow: none;
}

nav.scrolled a {
    color: #1e0000;
}

nav.scrolled + .logo img {
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav ul a {
    text-decoration: none;
    color: #1e0000;
    margin: 0 32px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    cursor: pointer;
    transition: border 0.2s ease-in-out;
    border-bottom: 2.5px solid transparent;
}

nav ul a:hover {
    border-color: #990000;
}

/* Header */
header {
    align-items: center;display: flex;
    background:url(img/record-store.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    justify-content: center;
	position: relative;
	height: 100vh;
}

header h1 {
    color: #fcfaf5;
    font: 160px 'Bungee Shade', cursive;
    text-shadow: 3px 3px #990000, 
                 3px 3px #990000, 
                 3px 3px #990000;
    letter-spacing: 0.0625em;
}

/* Sections */
section{
    height: 500px;
    display: flex;
}

        /*** Social Media */
.section-follow{
    height: 160px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-follow .social-media {
    font-size: 32px;
    padding-bottm: .75em;
}

.section-follow .follow-me:after{
    content: '';
    position: absolute;
    left: 0; right: 0;
    width: 150px;
    height: 45px;
    margin: 0 auto;
    border-bottom: 3px solid #990000;
    padding-top: .80em;
}

section h3 {
    font-family: 'Bungee Shade', cursive;
    font-size: 32px;
    padding: .75em 0;
}

i{
    transition: .4s;
    padding: 0 8px;
    cursor: pointer;
}

i:hover{
    transform:scale(1.3);
    padding: 5px;
    transform: rotate(25deg);
}

        /* body sections */
section:nth-child(2n){
    flex-direction: row-reverse;
    background: #990000;
    color: #fcfaf5;
}

section p {
    font-family: 'Roboto Slab';
}

section .description,
section .image {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px;
    justify-content: center;
}

section .image img {
    height: 340px;
    border: 1px solid #fcfaf5;
    border-radius: 3px;
}

section .image {
    overflow: hidden;
    transition: 1s;
}

section .image:hover{
    transform: scale(1.04);
}

/* Footer */
footer {
    padding: 32px 0;
    background-color: #1e0000;
    color: #fcfaf5;
    font-family: 'Robot Slab';
    text-align: center;
}

.menu-btn{
    display: none;    
}

/* Media Queries */
@media(max-width: 900px){
  
    header h1 {
        font-size: 72px;
    }

    nav {
        display: flex;
        height: 100vh;
        transform: scaleY(0) translateY(1200px);
        background: rgba(252, 250, 245, 0.9);
        transition: .4s;
    }

    nav.active{
        transform: scaleY(1) translateY(0px);
        transition: width 2sd;
    }

    nav ul {
        margin: 0 auto;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li {
        padding: 42px 0;
    }

    nav li a {
        font-size: 20px;
        position: relative;
        color: #1e0000;
    }

    nav li a:after {
        content: '';
        position: absolute;
        left: 0; right: 0;
        height: 24px;
        width: 60%;
        margin: 0 auto;
    }

    /* Follow me Section */
    .section-follow .follow-me:after{
        width: 120px;
        height: 36px;
    }

    /* Sections */

    section h3 {
        font-size: 24px;
        height: auto;
    }

    section {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    section:nth-child(2n){
        flex-direction: column;
    }
    
    section .image img {
        margin: 0 auto;
        width: 95%;
        height: auto;
    }

    /* Menu Icon */
    .menu-btn {
        z-index: 10;
        color: #fcfaf5;
        display: block;
        position: fixed;
        right: 16px; top: 16px;
        font-size: 64px;
        transition: .4s;
        font-family: 'Roboto Slab';
        cursor: pointer;
        transform: rotate(0deg);
    }

    .menu-btn.active {
        transform: rotate(45deg);
        color: #1e0000;
    }
} /* end of Media Queries */
