body { 
    /*font-family: 'Josefin Sans', sans-serif;**/
    color: #F0FFF0;
    font-family: 'Josefin Sans', sans-serif;
    background: #2c3543;
}

.jumbotron {
    background: 
    /* top, transparent red, faked with gradient */ 
    linear-gradient(45deg,
        rgba(44, 53, 67, .3),
        rgba(44, 53, 67, .45)
    ),
    /* bottom, image */
    url(images/comp.jpg);
    height: 825px;
    padding-top: 0;
}

.jumbotron .logo {
    padding-top: 5em;
}

.jumbotron .logo h1{
    font-size: 1200%;
    text-transform: uppercase;
}

.jumbotron .logo p{
    font-size: 52px;
}

#home-nav {
    margin: auto;
    text-align: center;
    font-size: 180%;
}

#home-nav ul {
    list-style-type: none;
}

#home-nav li {
    display: inline;
}

#home-nav li a {
    font-weight: 800;
    display: inline-block;
    padding: 10px 20px; 
}
a{
    color: #FEC10D;
}
a:hover{
    text-decoration: none;
    color: #fed96d;
}

.logo {
    display: block;
    text-align: center;
    margin: auto;
}

.logo h1{
    color: #;
    font-size: 64px;
    text-transform: uppercase;
    
}
.logo a:hover{
    text-decoration: none;  
}


#me p{
    margin: auto;
    text-align: center;
}

#me img {
    border-radius: 5px;
    padding: 3px;
    max-width: 90%;
    background-color: white;
    box-shadow: 10px 10px 5px #0e0e0e;
    transform: rotate(-7deg);

}

#content {
    font-size: 150%;
}

.title{
    color: #;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 6px;
}

p .h2-line {
    border-top: 3px solid #F0FFF0;
    padding-left: 3em;
}

p {
    margin: 10px 0;
}

a.resume {
    display: block;
    text-align: center;
    color: #0e0e0e;
    padding: 5px 10px;
    margin: 1em 0;
    border: 2px #FEC10D double;
    border-radius: 5px;
    background: #FEC10D;
    width: 140px;
}

 a.resume:hover{
    background-color: #fed96d;
}
 
footer{ 
    background-color: #1a1f28;
    clear: both;
    margin: 1em auto 0 auto;
    padding: 1.5em;
    overflow: auto;
    padding: 3em 24px 1em 24px;
    font-size: 120%;
}

footer.footer-stick{ 
    clear: both;
    position: absolute;
    width: 100%;
    height: 15%;
    right: 0;
    bottom: 0;
    left: 0;
}

footer .copyright {
    text-align: center;
}

footer .social-media p {
    text-align: left;
}

#footer-nav ul {
    list-style-type: none;
}


/**Project**/

.project-header {
    width: 100%;
    padding: 2em 0;
    margin-bottom: 2em;
}

#main-nav {
    margin: auto;
    text-align: center;
    font-size: 160%;
}

#main-nav ul {
    padding-top: 2em;
    list-style-type: none;
}

#main-nav li {
    display: inline;
    margin-right: .5em;
}

#main-nav li a {
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px; 
    font-family: 'Josefin Sans', sans-serif;
}

#tts-assignments button {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    background-color: #466672;
    background-image: url(images/tts.png);
    background-size: cover;
}
